@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica, "Saira Stencil One", cursive;
  background-color: black;
  color: whitesmoke;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__div {
  display: flex;
  justify-items: left;
  padding: 0;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  margin: 0px 10px 0px 0px;
}
.header__div .icon-R {
  margin: 0px 10px 0px 10px;
  font-family: Saira Stencil One;
  width: 20px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  text-align: center;
}
.header__div .my-name {
  margin: 0px 0px 0px 10px;
}
@media screen and (max-width: 500px) {
  .header__div {
    display: none;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  margin: 0px 20px 0px 0px;
}
@media screen and (max-width: 500px) {
  .header__nav {
    margin: 0px 0px 0px 20px;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
  }
}
.header__nav a {
  padding: 20px;
}
@media screen and (max-width: 500px) {
  .header__nav a {
    margin: 10px;
    font-size: 152x;
  }
}
.header__nav button {
  display: flex;
  border: 1px solid black;
  height: 40px;
  border-radius: 5px;
  background-color: lightCyan;
  color: grey;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  .header__nav button {
    margin: 5px 0px 0px 0px;
    font-size: 10px;
  }
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
@media screen and (max-width: 500px) {
  main {
    padding-top: 10px;
  }
}
main .information {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 0px;
}
@media screen and (max-width: 500px) {
  main .information {
    display: flex;
    flex-direction: column-reverse;
    width: 95vw;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }
}
main .information__div {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 500px) {
  main .information__div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 150px;
    align-items: center;
    justify-content: center;
  }
}
main .information__div .first-line {
  color: lightCyan;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  main .information__div .first-line {
    padding: 10px;
    color: aqua;
    font-size: 14px;
    margin: 5px 0px 5px 0px;
  }
}
main .information__div .second-line {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  flex-wrap: wrap;
  margin: 15px 10px 0px 10px;
}
@media screen and (max-width: 500px) {
  main .information__div .second-line {
    font-weight: bold;
    font-size: 20px;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
  }
}
main .information__div button {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightcyan;
  color: grey;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
  padding: 12px;
}
@media screen and (max-width: 500px) {
  main .information__div button {
    margin: 5px 0px 0px 0px;
    font-size: 10px;
  }
}
main .information__image {
  background-image: url("./rupali.jpeg");
  background-size: cover;
  margin: 0px 20px 0px 20px;
  width: 40vw;
  height: 30vh;
}
@media screen and (max-width: 500px) {
  main .information__image {
    background-size: cover;
    width: 60vw;
  }
}
main .technicalskills {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  margin: 20px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 500px) {
  main .technicalskills {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    margin: 10px;
    padding: 2px;
    justify-content: flex-start;
    align-items: center;
  }
}
main .technicalskills__heading {
  display: flex;
  margin: 10px;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  main .technicalskills__heading {
    display: flex;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
}
main .technicalskills .icon-list {
  height: 10vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px 10px 0px 10px;
}
@media screen and (max-width: 500px) {
  main .technicalskills .icon-list {
    font-size: medium;
    width: 90vw;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
main .technicalskills .icon-pair {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
main .technicalskills .icon {
  margin: 0px 0px 10px 0px;
}
@media screen and (max-width: 500px) {
  main .technicalskills .icon {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
  }
}
main .projects {
  display: flex;
  flex-direction: column;
}
main .projects__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  main .projects__heading {
    width: 80vw;
    padding-left: 15px;
  }
}
main .projects__div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  main .projects__div {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    padding-left: 15px;
  }
}
main .projects__div .project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
  padding: 7px;
  border: 1px dotted white;
  border-radius: 5px;
}
main .projects__div .project-detail .project-subheading {
  font-size: 18px;
  color: lightCyan;
  margin: 10px 0px 10px 10px;
}
main .projects__div .project-detail .project-code {
  font-size: 12px;
  margin: 0px 0px 10px 5px;
  align-self: flex-start;
}
main .projects__div .project-detail .project-desc {
  margin: 0px 0px 5px 5px;
  font-size: 14px;
}
main .projects__div .project-detail .project-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-content: space-between;
  justify-content: space-between;
  font-size: 10px;
}
main .projects__div .project-detail .project-links .a-sep {
  margin: 5px 5px 5px 5px;
}
@media screen and (max-width: 500px) {
  main .projects__div .project-detail {
    margin: 7px;
  }
}
main .aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: normal;
  width: 95%;
  margin: 20px;
  padding: 20px;
}
@media screen and (max-width: 500px) {
  main .aboutme {
    width: 90vw;
    margin: 10px;
    padding: 10px;
  }
}
main .aboutme .aboutme-heading {
  margin: 5px 0px 10px 0px;
}
@media screen and (max-width: 500px) {
  main .aboutme .aboutme-heading {
    font-size: 20px;
  }
}
main .aboutme .left-section {
  display: flex;
  width: auto;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
@media screen and (max-width: 500px) {
  main .aboutme .left-section {
    margin: 10px;
  }
}
main .aboutme .right-section {
  background-image: url("./rupali2.jpg");
  background-size: cover;
  margin-right: 0px;
  padding-left: 20px;
  width: 20vw;
  height: 40vh;
}
@media screen and (max-width: 500px) {
  main .aboutme .right-section {
    display: none;
  }
}
main .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 px 10px;
  margin-right: 10px 0px 10px;
}
main .footer__leftside {
  display: flex;
  justify-content: space-around;
  font-size: medium;
  margin: 5px 5px 5px 5px;
  padding: 5px;
}
main .footer__leftside .email-address {
  margin-left: 20px;
}
main .footer__rightside {
  margin: 0px 10px 0px 0px;
}
@media screen and (max-width: 500px) {
  main .footer__rightside {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 500px) {
  main .footer {
    padding: 0px 0px 10px 7px;
    margin-bottom: 10px;
  }
  main .footer .empty-space {
    margin: 5px;
  }
}/*# sourceMappingURL=portfolio-day4.css.map */