@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
$backgroundColor : black;
$fontColor : whitesmoke;
$fontColorAlternate : lightCyan;
$buttonBackgroundColor : lightCyan;
$buttonFontColor : grey;
* { // * start
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica, 'Saira Stencil One', cursive;
    background-color: $backgroundColor;
    color: $fontColor;
} // * end
.header { // .header start
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    &__div { // &__div start
        display: flex;
        // justify-content: flex-start;
        justify-items: left;
        padding: 0;
        align-items: center;
        font-weight: bold;
        font-size: medium;
        margin: 0px 10px 0px 0px;
        .icon-R { // .icon-R start
            margin: 0px 10px 0px 10px;
            font-family: Saira Stencil One;
            width: 20px;
            border: 2px solid whitesmoke;
            border-radius: 5px;
            text-align: center;
        } // .icon-R end
        .my-name { // .my-name start
            margin: 0px 0px 0px 10px;
        } // .my-name end
        @media screen and (max-width: 500px) {  // .my-name media start
            display: none;
        } // .my-name media end
    } // &div end
    &__nav { // &__nav start
        display: flex;
        flex-direction: row;
        margin: 0px 20px 0px 0px;
        @media screen and (max-width: 500px) { // &__nav media start
            margin: 0px 0px 0px 20px;
            width: 90%;
            justify-content:space-evenly;
            align-items: center;
        } // &__nav media end
        a { // a start
            padding: 20px;
            @media screen and (max-width: 500px) { // a media start
                margin: 10px;
                font-size: 152x;
            } // a media end
        } // a end
        button { // button start
            display: flex;
            border: 1px solid $backgroundColor;
            height: 40px;
            border-radius: 5px;
            background-color: $buttonBackgroundColor ;
            color : $buttonFontColor;
            font-size: 15px;
            justify-content: center;
            align-items: center;
            margin: 10px 0px 0px 0px;
            padding: 5px;
            @media screen and (max-width: 500px) { // nav button media start
                margin: 5px 0px 0px 0px;
                font-size: 10px;
            } // nav button media
        } // button end
    } // &__nav end
} // header end
main 
{ // main start
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    @media screen and (max-width: 500px) { // main media start
        padding-top: 10px;
    } // main media end
   .information { // .information start
        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        margin: 20px;
        padding: 0px;
        @media screen and (max-width: 500px) { // .information media start
            // width: 100%;
            display: flex;   
            flex-direction: column-reverse;
            width: 95vw;
            justify-content:space-around;
            align-items: center;
            margin: 10px;
        } // .information media end
        &__div { // &__div start
            display: flex;
            flex-direction: column;
            height: 150px;
            justify-content: space-evenly;
            align-items: center;
            @media screen and (max-width: 500px) { // &__div media start 
                display: flex;
                flex-direction: column;
                margin: 10px;
                height: 150px;
                align-items: center;
                justify-content: center;
            } // &__div media end
            .first-line { // .first-line start
                color : $fontColorAlternate;
                font-size: 18px;
                justify-content: center;
                align-items: center;  
                @media screen and (max-width: 500px) {  // .first-line media start  
                    padding: 10px;
                    color: aqua;
                    font-size: 14px;
                    margin: 5px 0px 5px 0px;       
                } // .first-line media end
            } // .first-line end
            .second-line { // .second-line start
                text-align: center;
                font-weight: bold;
                font-size: 25px;
                flex-wrap: wrap;
                margin: 15px 10px 0px 10px;
                @media screen and (max-width: 500px) { // .second-line media start
                    font-weight: bold;
                    font-size: 20px;
                    flex-wrap: wrap;
                    margin: 10px 10px 10px 10px;
                } // .second-line media end
            } // .second-line end
            button { // button start
                display: flex;
                border: 1px solid $backgroundColor;
                border-radius: 5px;
                background-color: lightcyan ;
                color : $buttonFontColor;
                font-size: 20px;
                justify-content: center;
                align-items: center;
                margin: 30px 0px 30px 0px;
                padding: 12px;
                @media screen and (max-width: 500px) { // nav button media start
                    margin: 5px 0px 0px 0px;
                    font-size: 10px;
                } // nav button media
            } // button end
        } // &__div end 
        &__image { // &__image start
            // border: 1px solid white;
            background-image: url("./rupali.jpeg");
            background-size: cover;
            margin:0px 20px 0px 20px;
            width: 40vw;
            height: 30vh;
            @media screen and (max-width: 500px) { // &__image media start
                background-size: cover;
                width: 60vw;
            } // &__image media end
        } // &__image end
    } // .information end
    .technicalskills { // .technicalskills start
        display: flex;
        flex-direction: column;
        min-height: 150px;
        margin: 20px;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
        @media screen and (max-width: 500px) { // .technicalskills media start
            display: flex;
            flex-direction: column;
            min-height: 300px;
            margin: 10px;
            padding: 2px;
            justify-content: flex-start;
            align-items: center;
        } // .technicalskills media end
        &__heading { // &__heading start
            display: flex;
            margin: 10px;
            justify-items: center;
            align-items: center;
            @media screen and (max-width: 500px) { // &__heading media start
                display: flex;
                margin: 10px;
                font-size: 20px;
                text-align: center;
                justify-items: center;
                align-items: center;
            } // &__heading media end
        } // &&__heading end
        .icon-list { // .icon-list start
            height: 10vh;
            width: 90vw;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0px 10px 0px 10px;
            @media screen and (max-width: 500px) { // .icon-list media start
                font-size: medium;
                width: 90vw;
                height: 10vh;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
            } // .icon-list media end
        } // .icon-list end
        .icon-pair { // .icon-pair start
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 10px 10px 10px 10px;
        } // .icon-pair end
        .icon { // .icon start
            margin: 0px 0px 10px 0px;
            @media screen and (max-width: 500px) { // .icon media start
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                padding:0;
                margin:0;
                height: 50px;
                width: 50px;
            } // .icon media end
	    } //.icon end
    } // .technicalskills end
    .projects { // .projects start
        display: flex;
        flex-direction: column;
        &__heading { // &__heading start
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 500px) { // .projects media start
                width: 80vw;
                padding-left: 15px;
            } // .projects media end
        } // &__heading end
        &__div { // &__div start
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: space-between ;
            margin: 5px;
            padding: 5px;
            @media screen and (max-width: 500px) { // .projects__div media start
                width: 90vw;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                justify-content: space-between ;
                padding-left: 15px;
            } // .projects__div media end
            .project-detail { // .project-detail start
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px 10px 10px 10px;
                padding: 7px;
                border: 1px dotted white;
                border-radius: 5px;;
                .project-subheading { // .project-subheading start
                    font-size: 18px;
                    color : $fontColorAlternate;
                    margin: 10px 0px 10px 10px;
                } // .project-subheading end
                .project-code { // .project-code start
                    font-size: 12px;
                    margin: 0px 0px 10px 5px;
                    align-self: flex-start;
                } // .project-code end
                .project-desc { // .project-desc start
                    margin: 0px 0px 5px 5px;
                    font-size: 14px;
                } // .project-desc end
                .project-links { // .project-links start
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 5px;
                    align-content: space-between;
                    justify-content: space-between;   
                    font-size: 10px;
                    .a-sep { // .a-sep start
                        margin: 5px 5px 5px 5px;
                    } // .a-sep end
                } // .project-links end
                @media screen and (max-width: 500px) { // .project-detail media start
                    margin: 7px;
                } // .project-detail media end
            } // project-detail end
        } // &__div end
    } // .projects end
    .aboutme { // .aboutme start
        display: flex;
        justify-content: center;
        align-items: center;
        word-wrap: normal;
        width: 95%;
        margin: 20px;
        padding: 20px;
        @media screen and (max-width: 500px) { // .aboutme media start
            width: 90vw;
            margin: 10px;
            padding: 10px;
        } // .aboutme media end
        .aboutme-heading { // .aboutme-heading start
            margin: 5px 0px 10px 0px;
            @media screen and (max-width: 500px) { // .aboutme-heading media start
                font-size: 20px;
            } // .aboutme-heading media end
        } // .aboutme-heading end
        
        .left-section { // .left-section start
            display: flex;
            width: auto;
            width: 80%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px;
            @media screen and (max-width: 500px) { // .aboutme-heading media start
                margin: 10px;
            } // .aboutme-heading media end
        } // .left-section end
        .right-section { // .right-section start
            // border: 1px solid white;
            // background-image: url("./rupali.jpeg");
            background-image: url("./rupali2.jpg");
            background-size: cover;
            margin-right: 0px;
            padding-left: 20px;
            width: 20vw;
            height: 40vh;
            @media screen and (max-width: 500px) { // .right-section media start
                display: none;
            } // .right-section media end
        } // .right-section end
    } // .aboutme end
    .footer { // .footer start
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 px 10px;
        margin-right: 10px 0px 10px;
        &__leftside { // &__leftside start
            display: flex;
            justify-content: space-around;
            font-size: medium;
            margin: 5px 5px 5px 5px;
            padding:5px;
            .email-address { // .email-address start
                margin-left: 20px;
            } // .email-address end
        } // &__leftside end
        &__rightside { // &__rightside start
            margin : 0px 10px 0px 0px;
            @media screen and (max-width: 500px) { // .&__rightside media start
                display: flex;
                flex-direction: row;
                margin-right: 10px;
                padding-left: 10px;
            } // .&__rightside media end
        } // &__rightside end
        @media screen and (max-width: 500px) { // .footer media start
            padding: 0px 0px 10px 7px;
            margin-bottom: 10px;
            .empty-space {
                margin:5px;
            }
        } // .footer media end
    } // .footer end
} // main end
