@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
    background-color: black;
    color: whitesmoke;
}
  
  /* nav stylings */

.header {
    width: 100%;
    height: 50px;
    // margin-left: 70px;
    display: flex;

    // border: 1px solid white;
 
    .header__div {

        display: flex;
        width: 30%;
        height: 10px;
        margin: 10px 0px 0px 10px;
        padding: 0;
        justify-content:flex-start;
        align-content: flex-start;
        align-items: center;
        font-weight: bold;
        font-size: medium;

        // border: 1px solid white;
    }

    .header__nav {
        width: 70%;
        height: 10%;
        display: flex;
        margin: 20px;
        flex-direction: row;
        padding:10px;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: center;
        font-size: small;
        // margin-right: 100px;

        // border: 1px solid white;
    }
    a{
        padding: 20px;
    }
    .button {
        display: flex;
        border: 1px solid black;
        border-radius: 5px;
        width: 120px;
        color: gray;
        font-size: 14px;
        font-weight: 400;
        background-color: lightcyan;
        justify-content: center;
        align-content: center;
        margin-right: 5px;
    }

}
/* content stylings */

main {
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    border: 1px solid white;

   .information {
        // border: solid blue; 

        display: flex;
        flex-direction: row;

        justify-content:space-around;
        align-items: center;
        // margin: 40px;

        .information__div {
            // border: solid blue;
            display: flex;
            flex-direction: column;
            height: 200px;
            justify-content: space-evenly;
            align-items: center;

            .first-line {
                /* border: 1px solid blue; */
                color: aqua;
                font-size: 18px;
                justify-content: center;
                align-items: center;
    
            }
    
            .second-line {
                font-weight: bold;
                font-size: 25px;
                flex-wrap: wrap;
                margin: 10px 10px 10px 10px;
            }
    
            .button {
                display: flex;
                border: 1px solid black;
                border-radius: 5px;
                width: 175px;
                color: gray;
                font-size: 15px;
                background-color: lightcyan;
                justify-content: center;
                align-content: center;
            }
        }
        .information__image {
            margin:0px 50px 0px 0px;
            // width: 500px;
            height: auto;
        }
    }

    .technicalskills {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        margin: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;

        // border: 1px solid white;

        .technicalskills__heading {
            display: flex;
            margin: 20px;
            justify-items: center;
            align-items: center;
        }

        .icon-list {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0px 0px 0px 0px;
            font-size: small;
            padding:0px;

            // border: 1px solid maroon; 
        }
        .icon-pair {

            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            // height: auto;
            height: 50px;
            width: 75px;

            // border: 1px solid green; 
        }
        .icon {
            margin: 0px 0px 10px 0px;
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        // min-height: 300px;
        // margin-left: 10px;**
        // border: 1px solid blueviolet; 
    

        .projects__heading {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 20px 20px 20px;

        }
        .projects__div {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: space-between ;
            // margin: 5px;
            // padding: 5px;


            // border: 1px solid blueviolet; 

            .project-subheading {
                font-size: larger;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .project-code {
                font-size: small;
                // margin-bottom: 5px;
                margin:0px 5px 5px 15px;
                width: 100%;
                justify-items: left;

            }
            .project-detail {
                display: flex;
                flex-direction: column;
                // min-height:100px; **
                padding: 10px;
                margin: 10px 10px 10px 20px;

                // justify-content: center;
                align-items: center;
                border: 1px dotted white;
                border-radius: 5px;;
                // border: 1px solid red;
            }
            .project-links{
                display: flex;
                flex-direction: row;
                padding: 10px; 
                // margin: 5px 5px 5px 5px;
                // margin-left: 40px;
                align-content: space-between;
                justify-content: space-between;
                font-size: 10px;

                // width: 150px; **

                // flex-direction: column;
                // border: 1px solid red;
            }

            .a-sep{
                // justify-content: space-between;
                margin: 0 2px 0 2px;
            }


            // .code {
            //     margin:10px
            // }
            // .preview {
            //     margin:1opx;
            // }
        }
    }

    .aboutme {
        // border: 1px solid green;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        word-wrap: normal;
        // height: 250px;
        width: 95%;
        margin:20px;
    
        .aboutme-heading{
            margin: 0px 0px 10px 0px;
        }

        .left-section{
            display: flex;
            width: auto;
            width: 80%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px;

            // border: 1px solid red;
        }
        .right-section{
            // display: flex;
            // width: 175px;
            // // width: 40%;
            // margin-left:150px;
            margin-right: 0px;
            padding-left: 20px;
            // justify-content: space-between;
            // align-items: flex-end;
            height: 150px;

            // border: 1px solid green;

        }
    }

    .mid-center {
        // /* border: 1px solid orange; */
        font-weight: lighter;
        font-size: smaller;
        width: 30%;

        // border: 1px solid white;
    }

    footer {
        display: flex;
        flex-direction: row;
        // background-color: midnightblue;
        justify-content: space-between;
        // min-height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

}


@media screen and (max-width: 500px) {
    *{
        // background-color: darkgrey;
        // color: black;
    }
    .header {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: 30px;    
        // border: 1px solid white;
     
        .header__div {
    
            display: flex;

            justify-items: flex-start;
            // align-items: center;
            font-weight: bold;
            font-size: medium;
            margin-top: 5px;
            // border: 1px solid red;
        }
    
        .header__nav {
            width: 390px;
            height: 10px;
            display: flex;
            margin-right:  20px;

            flex-direction: row;
            justify-content: flex-end;
            justify-items:center;
            align-content: space-around;

            align-items: center;

    
            // border: 5px solid blue;
        }
        a{
            margin: 10px;
        }

    
    }
    main {
        width: 480px;
        // height: 90%;
        margin: 25px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        // border: 1px solid white;
    
       .information {
            // border: solid black; 
            width: 100%;
            display: flex;
    
            flex-direction: column-reverse;
            justify-content:space-around;
            align-items: center;
            margin: 40px;
    
    
            .information__div {
                // border: solid blue;
                display: flex;
                flex-direction: column;
                height: 200px;

                align-items: center;

                .first-line {
                    /* border: 1px solid black; */
                    color: aqua;
                    font-size: 14px;
                    margin: 0px 0px 10px 0px;
        
                }
        
                .second-line {
                    font-weight: bold;
                    font-size: 25px;
                    flex-wrap: wrap;
                    margin: 10px 10px 10px 10px;
                }
        
                .button {
                    display: flex;
                    border: 1px solid black;
                    border-radius: 5px;
                    width: 175px;
                    color: gray;
                    font-size: 15px;
                    background-color: lightcyan;
                    justify-content: center;
                    align-content: center;
                }
            }
        }
        .technicalskills {
            display: flex;
            flex-direction: column;
            width: 480px;
            margin-left: 0px;
            padding:0;
            // min-height: 100px;
            // margin: 20px;
            // padding: 10px;
            justify-content: center;
            align-items: center;
    
            // border: 1px solid white;
    
            .technicalskills__heading {
                display: flex;
                margin: 20px;
                justify-items: center;
                align-items: center;

                // border: 1px solid red;
            }
    
            .icon-list {
                width: 480px;
                height: 50px;
            }
            .icon {
    
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                // height: auto;
                padding:0;
                margin:0;
                height: 50px;
                width: 50px;
    
                // border: 1px solid green; 
            }
        }
    }
}